{% extends "base.html" %}

{% block title %}{{ taxonomy.name | title }} | {{ config.title }}{% endblock %}

{% block content %}
<section class="taxonomy-list">
    <header class="section-header">
        <h1>{{ taxonomy.name | title }}</h1>
    </header>

    <div class="taxonomy-terms">
        {% for term in terms %}
        <a href="{{ term.permalink }}" class="taxonomy-term">
            {{ term.name }} <span class="count">({{ term.pages | length }})</span>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
